<div class="w-full">
  <h2 class="flex justify-start text-2xl font-medium">
    Two Way data binding
  </h2>

  <div class="grid grid-cols-2 gap-10 p-4">

    <div class="pratica13">
      <h4 class="text-xl font-medium">
        Pratica 13: Texto Dinamico
      </h4>
      <div class="w-full border-2 border-solid border-grayCustom-200 rounded-lg shadow-lg p-1 flex flex-col gap-1">
        <input [(ngModel)]="textStart"
               class="w-full h-12 border-2 border-solid border-grayCustom-100 rounded outline-grayCustom-200 p-2"
               placeholder="Digite um texto"
        />
        <p class="w-full h-12 flex justify-center items-center rounded bg-grayCustom-100">
          {{ textStart }}
        </p>
      </div>
    </div>

    <div class="pratica14">
      <h4 class="text-xl font-medium">
        Pratica 14: controle de tamanho de fonte
      </h4>
      <div class="w-full border-2 border-solid border-grayCustom-200 rounded-lg shadow-lg p-1 flex flex-col gap-1">
        <input [(ngModel)]="fontSize"
               class="w-full h-11 border-2 border-solid border-grayCustom-100 outline-none focus:border-grayCustom-200 rounded p-1"
               placeholder="Digite um numero"
               type="number"
        />
        <p [style.fontSize.px]="fontSize"
           class="w-full h-11 bg-grayCustom-100 hover:bg-grayCustom-200 rounded font-medium flex justify-center items-center">
          Texto com tanho dinamico
        </p>
      </div>
    </div>

    <div class="pratica15">
      <h4 class="text-xl font-medium">
        pratica 15: modo escuro/claro
      </h4>
      <div class="w-full border-2 border-solid border-grayCustom-200 rounded-lg shadow-lg p-1 flex flex-col gap-1">
        <div class="w-full h-11 flex items-center">
          <input [(ngModel)]="isDarkMode"
                 class="size-6 border-2 border-solid border-grayCustom-100 focus:border-grayCustom-200 outline-none"
                 id="checkBox"
                 type="checkbox"
          />
          <label class="font-medium text-base ml-1"
                 for="checkBox">
            Modo Escuro
          </label>
        </div>
        <p [class.dark-mode]="isDarkMode" [class.light-mode]="!isDarkMode"
           class="w-full h-11 rounded text-lg font-medium flex justify-center items-center">
          o modo atual é: {{ isDarkMode ? 'Escuro' : 'claro' }}
        </p>
      </div>
    </div>

    <div class="pratica16">
      <h4 class="font-medium text-xl">
        Pratica 16: Ajuste de Valor de input range
      </h4>
      <div class="w-full border-2 border-solid border-grayCustom-200 rounded-lg shadow-lg p-1">
        <div class="w-full h-11 flex justify-center items-center">
          <input [(ngModel)]="valorRange"
                 class="w-96" max="100" min="0" type="range">
        </div>
        <div class="w-full h-11 bg-grayCustom-200 rounded flex justify-center items-center text-lg font-medium">
          valor do range é: {{ valorRange }}
        </div>
      </div>
    </div>
  </div>
</div>
