<div class="w-full">
  <h2 class="flex justify-start text-2xl font-medium">
    Input Property
  </h2>

  <div class="grid grid-cols-2 gap-10 p-4">

    <div class="pratica17">
      <h4 class="text-xl font-medium">
        Pratica 17: Texto com input Property
      </h4>
      <div class="flex items-center w-full h-24 border-2 border-solid rounded-lg shadow-md border-grayCustom-200">
        <app-text-display [text]="'Texto com input property'"
        class="flex items-center justify-center w-full h-24">
      </app-text-display>
      </div>
    </div>

    <div class="pratica18">
      <h4 class="text-xl font-normal md:font-medium">
        pratica 18: Alterando background
      </h4>
      <div class="flex flex-col w-full h-24 gap-1 p-1 border-2 border-solid rounded-lg shadow-md border-grayCustom-200">
        <div class="w-full h-12 rounded">
          <app-background [background]="'blue'"></app-background>
        </div>
        <div class="w-full h-12 rounded">
          <app-background [background]="'green'"></app-background>
        </div>
      </div>
    </div>

    <div class="pratica19">
      <h4 class="text-xl font-medium">
        Pratica 19: Exibindo Lista de Itens
      </h4>
      <div class="w-full border-2 border-solid rounded-lg shadow-md border-grayCustom-200">
        <app-item-list [items]="['Item 1','Item 2', 'Item 3', 'Item 4', 'Item 5', 'Item 6']">
        </app-item-list>
      </div>
    </div>

    <div class="pratica20">
      <h4 class="text-xl font-medium">
        Pratica 20: Controlando Visibilidade
      </h4>
      <div class="w-full p-1 border-2 border-solid rounded-lg shadow-md border-grayCustom-200">
        <p class="flex flex-col gap-1">
          <app-conteudo-visivel [visivel]="true"
            class="flex items-center justify-center w-full h-12 rounded bg-grayCustom-200"></app-conteudo-visivel>
          <app-conteudo-visivel [visivel]="false"
            class="flex items-center justify-center w-full h-12 rounded bg-grayCustom-200"></app-conteudo-visivel>
        </p>
      </div>
    </div>
  </div>
</div>



